<!-- Loads the path to your static files-->
{% load staticfiles %}
<link rel ="stylesheet" type = "text/css" href= "{% static 'music/style.css' %}"/>

<nav class= "navbar navbar-default">
  <div class = "container-fluid">
    <!-- LOGO-->
      <div class = "navbar-header">
        <a class = "navbar-brand" href ="{% url 'music:index' %}"> Sangeet!! </a>
  </div>
</nav>

{% if all_albums %}
 <h1>HERE ARE ALL THE ALBUMS!!! :)</h1>
 <u1>
  {% for albums in all_albums %}
   <li><a href="{% url 'music:detail' albums.id %}">{{albums.album_title }} => {{albums.artist}} </a></li>

  {% endfor %}
 </u1>
{%else%}
  <h3>"No Albums Available"</h3>
  <h3>"TRY AGAIN!!!"</h3>
{% endif %}
